{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} 
{% endblock %}

{% block body %}
    <!--<h1>{{ title }} </h1>-->
       
    {{ entry|safe }}
	{% if error == ""  %}
		<form id="edit" method="POST">
			{% csrf_token %}
			<input id="txtI" type="hidden" name="title" value="{{ title }}">
			<!--<input id="txtI" type="hidden" name="content" value="{{ strEntry }}">-->
			<a href="#" onclick="document.getElementById('edit').submit();">Edit</a>
		</form>
	{% endif %}
{% endblock %}

